
     <div class="modal-content">
            <div class='exit' ui-sref='home'>X</div>
              <div class='comments-title'>
                <h1 class='main-title' style='font-size: 20px;'>{{teams[0].title}}</h1>
              </div>

              <div class="modal-body">
                    <div class='comments'>
                      <h4 style='color: black'>Comments</h4>
                      <p>Use a Facebook account to add a comment, subject to Facebook's Terms of Service and Privacy Policy. Your Facebook name, photo & other personal information you make public on Facebook will appear with your comment, and may be used on chaSEPN's media platforms. Learn more.</p>
                    </div>
                      <div id="facebook" class="fb-comments" data-href="https://chasepn.com" data-numposts="5"  data-mobile="true"></div>
              </div>
     </div>

