<nav class='nav'>
  <ul style="color:white;">
    <li ng-if="isAuthenticated">{{ vm.profile.name }}</li>
    <li ng-if="!isAuthenticated" ng-click="vm.authService.login()">Login</li>
    <li ng-if="isAuthenticated" ng-click="vm.authService.logout()">Logout</li>
    <img ng-src="{{ vm.profile.picture }}" ng-if="isAuthenticated" onclick="openNav()">
  </ul>
</nav>
<div class='whole'>
  <div class='main'>
    <h1 class='main-title'>{{teams[0].title}}</h1>
    <img class='main-img' src="{{teams[0].mainimage}}">
    {{week}}
    <div class='social-bar'>
      <!-- <a class="twitter-share-button"
  href="https://twitter.com/intent/tweet?text=Hello%20world"
  data-size="large">
Tweet</a> -->
        <div style='background: #3B5998;' ng-click='getFacebook();'><i class="fa fa-facebook" aria-hidden="true"></i></div>
        <div style='background: #55ACEE;' id='twitter-wjs'><i class="fa fa-twitter" aria-hidden="true"></i></div>
        <div style='background: #00E676;'><i class="fa fa-whatsapp" aria-hidden="true"></i></div>
        <div style='background: #BD081C;'><i class="fa fa-pinterest" aria-hidden="true"></i></div>
        <div style='background: grey;'><i class="fa fa-envelope" aria-hidden="true"></i></div>
        <div style='background: white; color: grey; border: 1.5px solid grey' ng-click="show=!show; enter()"><i class="fa fa-commenting-o" aria-hidden="true"></i></div>
    </div>

    <div class='editor'>
      <div class='editor-img'>
          <img src='/images/chase.jpg' style='height: 40px; width: 40px; border-radius: 50%;'>
          <p>Chase Martin <br> chasESPN Senior Writer</p>
      </div>
      <p>{{teams[0].date}}</p>
    </div>

    <div class='previous-weeks'>
      <h4 style='color: #48494a ;font-size: 16px; line-height: 1.6; font-weight: bold; margin: 0px;'>Previous rankings: &nbsp</h4>
      <h4 ng-repeat='week in weeks' style='color: #06c;  font-size: 16px; margin: 0px; line-height: 1.6' ng-click='getTeams(week.week)'>Week {{week.week}} <a style='color: black'> | &nbsp</a></h4>
    </div>

    <div class='team' ng-repeat='team in teams'>
      <div class='logo-info'>
          <img src= '{{team.image}}'>
          <div class='team-rankings'>
            <h4 style: 'color: black; font-weight: bold;'>{{team.ranking}}. <a style='color: #06c; font-weight: 600;'>{{team.name}}</a></h4>
            <h5>2016-17 record: {{team.record}}</h5>
            <h5><a style='color: #0066CC;'>Previous ranking</a>: {{team.previous_ranking}} <img src = {{team.position}} style='height: 10px; width: 12px;'></h5>
          </div>
      </div>
      <div class='team-description'>
        {{team.description}}
      </div>

    </div>

    <div class='social-bar'>
      <div style='background: #3B5998;' ng-click='getFacebook();'><i class="fa fa-facebook" aria-hidden="true"></i></div>
      <div style='background: #55ACEE;' id='twitter-wjs'><i class="fa fa-twitter" aria-hidden="true"></i></div>
      <div style='background: #00E676;'><i class="fa fa-whatsapp" aria-hidden="true"></i></div>
      <div style='background: #BD081C;'><i class="fa fa-pinterest" aria-hidden="true"></i></div>
      <div style='background: grey;'><i class="fa fa-envelope" aria-hidden="true"></i></div>
      <div style='background: white; color: grey; border: 1.5px solid grey' ng-click="show=!show; enter()"><i class="fa fa-commenting-o" aria-hidden="true"></i></div>
    </div>

    <button type="button" class='comments-button'  ng-click='show=!show; enter();'>Comments</button>
    <div class='facebook-container' ng-show='show'>

    </div>
    <div class='face_book' ng-show='show'>
        <div class='exit' ng-click='show=!show; exit();'>X</div>
        <div class='comments-title'>
          <h1 class='main-title' style='font-size: 20px;'>{{teams[0].title}}</h1>
        </div>
        <div class='comments-container'>
            <div class='comments'>
              <h4 style='color: black'>Comments</h4>
              <p>Use a Facebook account to add a comment, subject to Facebook's Terms of Service and Privacy Policy. Your Facebook name, photo & other personal information you make public on Facebook will appear with your comment, and may be used on chaSEPN's media platforms. Learn more.</p>
            </div>
              <poop></poop>
        </div>

    </div>
  </div>
</div>
