<nav class='nav'>
  <ul style="color:white;">
    <li ng-if="isAuthenticated">{{name}}</li>
    <li ng-if="!isAuthenticated" ng-click="authService.login()">Login</li>
    <li ng-if="isAuthenticated" ng-click="authService.logout()">Logout</li>
    <img ng-src="{{profilePic}}" ng-if="isAuthenticated" onclick="openNav()">
  </ul>
</nav>
<section class='rank-section'>
  <h1>Week {{currentWeek}} rankings</h1>
  {{date}}

      <div ui-sortable ng-model="teamsTwo" class="sortable-container">
          <div ng-repeat="team in teamsTwo" class='poo'>
                    <div class="row">
                        {{$index + 1}}
                    </div>
                   <div "row">
                       <img id='sortable-image' src={{team.image}}>
                   </div>
                   <div class="team_name">
                       {{team.name}}
                   </div>
          </div>
      </div>
      <button type="button" name="button" ng-click='sumbitRankings(teamsTwo, currentWeek, date, dateTwo)'>Submit Rankings</button>
</section>
