<section class='rank-section'>
  <h1>Week {{currentWeek}} rankings</h1>
  {{date}}
      Year<select ng-model='year'>
            <option value="2016-17">2016-17</option>
            <option value="2017-18">2017-18</option>
            <option value="2018-19">2018-19</option>
            <option value="2019-20">2019-20</option>
            <option value="2019-20">2020-21</option>
            <option value="2019-20">2021-22</option>
            <option value="2019-20">2022-23</option>
            <option value="2019-20">2023-24</option>
            <option value="2019-20">2024-25</option>
            <option value="2019-20">2025-26</option>
            <option value="2019-20">2026-27</option>
          </select>
      <!-- <input type='text' ng-model='year'></input> -->
      <!-- <button type="button" ng-click='getTeams(week)'>Update</button> -->
      <!-- <button type="button" ng-click='addWeek()'>New Week</button> -->
      <div ui-sortable ng-model="teamsTwo" class="sortable-container">
          <div ng-repeat="team in teamsTwo" class='poo'>
                    <div class="row">
                        {{$index + 1}}
                    </div>
                   <div "row">
                       <img id='sortable-image' src={{team.image}}>
                   </div>
                   <div class="team_name">
                       {{team.name}}
                   </div>
          </div>
      </div>
      <button type="button" name="button" ng-click='sumbitRankings(teamsTwo, currentWeek, year)'>Submit Rankings</button>
</section>
