<nav class='nav'>
  <ul style="color:white;">
    <li ng-if="isAuthenticated">{{ vm.profile.name }}</li>
    <li ng-if="!isAuthenticated" ng-click="vm.authService.login()">Login</li>
    <li ng-if="isAuthenticated" ng-click="vm.authService.logout()">Logout</li>
    <img ng-src="{{ vm.profile.picture }}" ng-if="isAuthenticated">
  </ul>
</nav>
<div class='whole'>
  <div class='main'>
    <h1 style='text-align: center; margin-top: 0px; padding-bottom: 15px; padding-top: 10px;color: white; background: red; '>Week {{currentWeek}} rankings</h1>
        <div class='title-container'>
          <h3 ng-hide='showTitle'>Week title</h3>
          <h1 ng-show='showTitle'>{{teams[0].title}}</h1>
          <textarea id='title' rows="8" cols="71" ng-model='title' ng-hide='showTitle'></textarea>
          <button id='upload-button' style='margin-bottom: 25px;' ng-hide='showTitle' ng-click='saveTitle(title, teams[0].weekid, teams[0].year); showTitle = !showTitle'>Save</button>
          <button id='upload-button' style='margin-bottom: 25px;' ng-show='showTitle' ng-click='showTitle = !showTitle'>Edit</button>
        </div>
        <img class='main-img' src= {{teams[0].mainimage}} >
          <div class='upload' ng-hide='showUpload' style='margin-top: 25px;'>
                <h3 class="panel-title" style='margin-bottom: 15px; text-align: center;'>Upload Week Image</h3>


                <input class="bottom-marg-15" type="file" name="file" file style='text-align: center;'></input>
                <!-- Progress Bar -->
                <div class="progress" style='margin-bottom: 15px; margin-top: 15px;'>
                  <div class="progress-bar" role="progressbar" aria-valuenow="{{ uploadProgress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ uploadProgress }}%;">
                    {{ uploadProgress == 0 ? '' : uploadProgress + '%' }}
                  </div>
                </div>
                <button id='upload-button' ng-click="upload(teams[0].weekid, teams[0].year)">Upload</button>
          </div>

    <div class='team' ng-repeat='team in teams'>
      <div class='logo-info'>
          <img src= '{{team.image}}'>
          <div class='team-rankings'>
            <h4>{{team.ranking}}. <a style='color: #0066CC;'>{{team.name}}</a></h4>
            <h5>2016-17 record: {{team.record}}</h5>
            <h5><a style='color: #0066CC;'>Previous ranking</a>: {{team.previous_ranking}} <img src = {{team.position}} style='height: 10px; width: 12px;'></h5>
          </div>
      </div>
      <div class='team-description'>
        <div ng-show='showText'>{{team.description}}</div>
        <textarea name="name" rows="8" cols="71" ng-model='team.description' ng-hide='showText'></textarea>
      </div>

      <!-- <button id='edit' ng-click='$parent.show = !$parent.show' ng-if="team.description && !show">Edit</button> -->
    </div>
    <div class='save'>
      <button id='save' ng-click='updateDetails(teams, teams[0].weekid, teams[0].year); getTeamsTwo(); '>Save</button>
    </div>
  </div>
</div>
