body {font-family:'Open Sans'; margin:0; 
&.modal-open { position:fixed; overflow:hidden; 
    .modal { overflow: scroll;
        @media only screen and (min-resolution:150dpi) and (max-width: @screen-sm),
            only screen and (-webkit-min-device-pixel-ratio:1.5) {
            overflow: scroll; -webkit-overflow-scrolling: touch; 
        }
    }
}   
}

.md-button {
  margin-left:50px;
  text-transform: none;
  padding:10px;
  padding-left:15px;
  padding-right:15px;
  
}

.main {
  width: 739px;
  margin: auto;
  background: white;
  font-family: Georgia,"Times New Roman",Times,serif;
  font-size: 16px;
}

@media (max-width: 800px) {
  .main {
    width: 100%;
    /*margin: auto;*/
    background: white;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 16px;
    padding-bottom: 100px;
  }
}

.whole {
  margin-top: 44px;
  background: #EDEEF0;
  /*background: white;*/
}

/*@media (max-width: 500px) {
  .whole {
    display: none;
  }
}*/

.team {

  position: relative;
  padding-top: 25px;
  padding-right: 75px;
  padding-left: 75px;
}

@media (max-width: 800px) {
  .team {
    padding-right: 20px;
    padding-left: 20px;
  }
}

img {
  height: 75px;
  width: 75px;
  margin-right: 15px;
}

.team-description {
  border-bottom: 1px solid #a5a6a7;
  padding-bottom: 25px;
  padding-top: 25px;
  color: #48494a;
  line-height: 1.6em;
}

.logo-info {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.list {
	list-style: none outside none;
	margin: 10px 0 30px;
}

.item {
	width: 200px;
	padding: 5px 10px;
	margin: 5px 0;
	border: 2px solid #444;
	border-radius: 5px;
	background-color: #EA8A8A;

	font-size: 1.1em;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}

.ui-sortable-helper {
  cursor: move;
}


/***  Extra ***/

body {
	font-family: Verdana, 'Trebuchet ms', Tahoma;
}

.logList {
	margin-top: 20px;
	width: 250px;
	min-height: 200px;
	padding: 5px 15px;
	border: 5px solid #000;
	border-radius: 15px;
}

.logList:before {
	content: 'log';
	padding: 0 5px;
	position: relative;
	top: -1.1em;
	background-color: #FFF;
}

.container {
	width: 600px;
	margin: auto;
}




h2 {
	text-align: center;
}

.floatleft {
  float: left;
}

.clear {
  clear: both;
}

.sortable-container {
  margin-top: 25px;
  width: 1160px;
  height: 480px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
}



.poo {
  width: 375px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px #888888;
  background: white;
  cursor: move;
  height: 40px;
}

@media (max-width: 600px) {
  .sortable-container {
    width: 375px;
    flex-wrap: nowrap;
    height: auto;
  }
}

@media (max-width: 600px) {
  .poo {
    height: 30px;
  }
}

.row {
  width: 25%;
  /*background: #EDEEF0;*/
  font-size: 12px;
}

.team_name {
  width: 50%;
}

#sortable-image {
  height: 30px;
  width: 30px;
}

#edit {
  position: absolute;
  top: 35px;
  right: 75px;
  background: #617AC6;
  border: none;
  border-radius: 5px;
  color: white;
  /*margin-top: 20px;*/
}

.save {
  position: fixed;
  bottom: 0px;
  width: 739px;
  display: flex;
  flex-direction: row;
}

@media (max-width: 600px) {
  .save {
    width: 100%;
  }
}

#save {
  background: #617AC6;
  border: none;
  color: white;
  width: 50%;
  height: 60px;
  margin: auto;
  /*margin-top: 20px;*/
}

.rank-section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 44px;
}


.nav {
  position: fixed;
  top: 0px;
  z-index: 2000;
  height: 44px;
  width: 100%;
  background: #2B2C2D;
}

.nav ul {
  width: 400px;
  height: 44px;
  display: flex;
  float: right;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 0;
}

.nav li {
  margin-right: 15px;
}

.nav img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.social-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;
}

.social-bar div {
  height: 35px;
  width: 15%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
}

.editor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*width: 100%;*/
  margin-left: 15px;
  margin-right: 15px;
  border-bottom: 1px solid #a5a6a7;
  padding-bottom: 15px;
  align-items: center;
}

.editor-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.editor p {
  color: #48494a;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0px;
}

.main-title {
  padding-top: 15px;
  font-size: 36px;
  line-height: 1.2em;
  font-weight: 700;
  color: #1d1e1f;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 20px;
  margin-top: 0;
  text-align: center;
}

@media (max-width: 600px) {
  .main-title {
    font-size: 24px;
  }
}

.main-img {
  width: 100%;
  margin: 0;
  height: auto;
}

textarea {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #a5a6a7;
}

.title-container {
  padding-right: 75px;
  padding-left: 75px;
  text-align: center;
}

#title {
  margin-bottom: 25px;
}

@media (max-width: 800px) {
  .title-container {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.previous-weeks {
  display: flex;
  flex-direction: row;
  margin-right: 15px;
  margin-left: 15px;
  flex-wrap: wrap;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #a5a6a7;
}

.comments-button {
  height: 32px;
  border: 2px solid #06c;
  background: white;
  margin-left: 18px;
  margin-top: 25px;
  margin-bottom: 25px;
  width: calc(100% - 36px);
  border-radius: 5px;
  color: #06c;
}

.facebook-container {
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  opacity: .4;
}

@media (max-width: 500px) {
  .facebook-container {
    display: none;
  }
}

.face_book {

  width: 1000px;
  height: 100vh;
  z-index: 1000;
  background: white;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 5px;
}

.comments-container {
  overflow-y:scroll;
  height: 100%;
}

.comments-title {

}

.comments {
  color: #6c6d6f;
font-size: 10px;
line-height: 14px;
margin-bottom: 22px;
padding-left: 12px;
padding-right: 12px;
}

.exit {
  position: fixed;
  top: 5px;
  right: 12px;
  font-size: 25px;
  color: #6c6d6f;
  font-family: sans-serif;
}

@media (max-width: 600px) {
  .face_book {
    z-index: 3000;
    background: white;
    padding-left: 15px;
    position: fixed;
    width: 100vw;
    height: 100vh;
  }
}

.upload {
  width: 300px;
  margin:auto;
  text-align: center;
  border: 1px solid #a5a6a7;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px #6c6d6f;
}

.upload h3 {
  font-weight: bold;
}

.upload input {
  width: 225px;
  margin: auto;
}
#upload-button {
  background: #617AC6;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  border: none;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    z-index: 5000;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.submit-button {
  height: 40px;
  background: #617AC6;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  margin-bottom: 25px;
}

.myHandle {
  width: 25%;
  /*background: #EDEEF0;*/
  font-size: 12px;
}

.chase-info {
  position: absolute;
  top: 40px;
  width: 360px;
  left: 0;
  background: #fff;
  border: 1px #dcdddf solid;
  border-radius: 3px;
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
  padding: 20px;
  color: #6c6d6f;
    font-family: "BentonSans",-apple-system,"Roboto",Helvetica,Arial,sans-serif;
    font-size: 11px;
    line-height: 20px;
    z-index: 20000;
}

@media (max-width: 600px) {
  .chase-info {
    width: 340px;
  }
}

.chase-ul {
  margin-right: 40px;
  margin-left: 20px;
}

#exit-chase {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
}

.arrow-up {
  position: absolute;
  top: 32px;
  left: 12px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid white;
  z-index: 300000;
}

.twitter-follow-button {
  margin-left: 90px;
}

.modal-open {
    overflow: hidden !important;
    height: 100%;
}



#myModal {
 position: fixed;
 left: 50%;
 top: 50%;
 transform: translate(-50%, -50%);
 width: 8000px;
 height: 85%;
 z-index: 30000;
 margin: 0;
}

@media (max-width: 600px) {
  #myModal {
   
   width: 100%;
   height: 100%;
  }
}




.sortable-div {
  margin-top: 25px;
  margin-bottom: 25px;
}

#logo-div {
  width: 150px;
  border-right: 10px solid #B40000;
  border-left: 10px solid #B40000;
  height: 100%;
  border-radius: 0;
  background: #DD0000;
  transform: skew(-25deg, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 250px;
} 

@media (max-width: 1500px) {
  #logo-div {
     width: 190px;
     position: absolute;
     left: -25px; 
     margin: 0; 
  }
} 

#logo {
  width: 125px;
  border: none;
  height: 80%;
  border-radius: 0;
  position: absolute;
  left: 260px;
  top: 5px;
}   

@media (max-width: 1500px) {
  #logo {
     position: absolute;
     left: 10px;
     top: 5px;
  }
}


@media (min-width: 800px) {
  #hamburger {
     display: none;
  }
}

#profile {
  position: absolute;
  top: 0px;
  right: 250px;
}

@media (max-width: 1500px) {
  #profile {
   right: 10px;
  }
}

@media (max-width: 800px) {
  #profile {
    display: none;
  }
}

#login {
  position: absolute;
  top: 12px;
  right: 250px;
  font-weight: bold;
}

@media (max-width: 1500px) {
  #login {
   right: 10px;
  }
}

#live {
 width: 50%;
 border: none;
 height: 60px;
 color: white;
 background: #DD0000;
}

.if-nothing {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 height: 100vh;
 width: 100vw;
 padding: 20%;
 text-align: center;
}

@media (max-width: 1500px) {
  .if-nothing {
    padding: 10%;
    font-size: 16px;
  }
}
