
.main {
  width: 739px;
  margin: auto;
  background: white;
  font-family: Georgia,"Times New Roman",Times,serif;
  font-size: 16px;
}

@media (max-width: 800px) {
  .main {
    width: 100%;
    margin: auto;
    background: white;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 16px;
  }
}


.whole {
  margin-top: 44px;
  background: #EDEEF0;
}

.team {

  position: relative;
  padding-top: 25px;
  padding-right: 75px;
  padding-left: 75px;
}

@media (max-width: 800px) {
  .team {
    padding-right: 20px;
    padding-left: 20px;
  }
}

img {
  height: 75px;
  width: 75px;
  margin-right: 15px;
}

.team-description {
  border-bottom: 1px solid #a5a6a7;
  padding-bottom: 25px;
  padding-top: 25px;
  color: #48494a;
  line-height: 1.6em;
}

.logo-info {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.list {
	list-style: none outside none;
	margin: 10px 0 30px;
}

.item {
	width: 200px;
	padding: 5px 10px;
	margin: 5px 0;
	border: 2px solid #444;
	border-radius: 5px;
	background-color: #EA8A8A;

	font-size: 1.1em;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}

.ui-sortable-helper {
  cursor: move;
}


/***  Extra ***/

body {
	font-family: Verdana, 'Trebuchet ms', Tahoma;
}

.logList {
	margin-top: 20px;
	width: 250px;
	min-height: 200px;
	padding: 5px 15px;
	border: 5px solid #000;
	border-radius: 15px;
}

.logList:before {
	content: 'log';
	padding: 0 5px;
	position: relative;
	top: -1.1em;
	background-color: #FFF;
}

.container {
	width: 600px;
	margin: auto;
}




h2 {
	text-align: center;
}

.floatleft {
  float: left;
}

.clear {
  clear: both;
}

.sortable-container {
  margin-top: 25px;
  width: 1160px;
  height: 480px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
}



.poo {
  width: 375px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px #888888;
  background: white;
  cursor: move;
  height: 40px;
}

@media (max-width: 600px) {
  .sortable-container {
    width: 375px;
    flex-wrap: nowrap;
    height: auto;
  }
}

@media (max-width: 600px) {
  .poo {
    height: 30px;
  }
}

.row {
  width: 25%;
  /*background: #EDEEF0;*/
  font-size: 12px;
}

.team_name {
  width: 50%;
}

#sortable-image {
  height: 30px;
  width: 30px;
}

#edit {
  position: absolute;
  top: 35px;
  right: 75px;
  background: #617AC6;
  border: none;
  border-radius: 5px;
  color: white;
  /*margin-top: 20px;*/
}

.save {
  text-align: center;
  padding: 20px;
}

#save {
  background: #617AC6;
  border: none;
  border-radius: 5px;
  color: white;
  width: 100px;
  margin: auto;
  /*margin-top: 20px;*/
}

.rank-section {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.nav {
  position: fixed;
  top: 0px;
  z-index: 2000;
  height: 44px;
  width: 100%;
  background: #2B2C2D;
}

.nav ul {
  width: 400px;
  height: 44px;
  display: flex;
  float: right;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 0;
}

.nav li {
  margin-right: 15px;
}

.nav img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.social-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;
}

.social-bar div {
  height: 35px;
  width: 15%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
}

.editor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*width: 100%;*/
  margin-left: 15px;
  margin-right: 15px;
  border-bottom: 1px solid #a5a6a7;
  padding-bottom: 15px;
  align-items: center;
}

.editor-img {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.editor p {
  color: #48494a;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0px;
}

.main-title {
  padding-top: 15px;
  font-size: 24px;
  line-height: 1.2em;
  font-weight: 700;
  color: #1d1e1f;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 20px;
}

.main-img {
  width: 100%;
  height: auto;
}

textarea {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #a5a6a7;
}

.title-container {
  padding-right: 75px;
  padding-left: 75px;
  text-align: center;
}

#title {
  margin-bottom: 25px;
}

@media (max-width: 800px) {
  .title-container {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.previous-weeks {
  display: flex;
  flex-direction: row;
  margin-right: 15px;
  margin-left: 15px;
  flex-wrap: wrap;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #a5a6a7;
}

.comments-button {
  height: 32px;
  border: 2px solid #06c;
  background: white;
  margin-left: 18px;
  margin-top: 25px;
  margin-bottom: 25px;
  width: calc(100% - 36px);
  border-radius: 5px;
  color: #06c;
}

.facebook-container {
  position: fixed;
  z-index: 800;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  opacity: .4;
}

.face_book {
  left: 50%;
top: 50%;
transform: translate(-50%, -50%);

    position:fixed;
  width: 640px;
  height: 90%;
  z-index: 1000;
  background: white;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 5px;
}

.comments-container {
  overflow-y:scroll;
  height: 80%;
}

.comments-title {

}

.comments {
  color: #6c6d6f;
font-size: 10px;
line-height: 14px;
margin-bottom: 22px;
padding-left: 12px;
padding-right: 12px;
}

.exit {
  position: fixed;
  top: 5px;
  right: 12px;
  font-size: 25px;
  color: #6c6d6f;
  font-family: sans-serif;
}

@media (max-width: 600px) {
  .face_book {
    z-index: 3000;
    background: white;
    padding-left: 15px;
    position: fixed;
    width: 100vw;
    height: 100vh;
  }
}

.upload {
  width: 300px;
  margin:auto;
  text-align: center;
  border: 1px solid #a5a6a7;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px #6c6d6f;
}

.upload h3 {
  font-weight: bold;
}

.upload input {
  width: 225px;
  margin: auto;
}
#upload-button {
  background: #617AC6;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  border: none;
}
